 body{
    text-align: center;
    background-color: lightblue;
 }

 h1{
    color: red;
 }
 a{
    text-decoration: none;
 }
.table-container{
   display: flex;
   justify-content: center;
   margin-top: 10px;
 }
